*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #8a2b9f;
    text-align: center;
    font-family: sans-serif;
}

#container{
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

img{
    padding-top: 15px;
}

h1{
    margin-bottom: 10px;
    opacity: 0.9;
}

p{
    margin-bottom: 30px;
    opacity: 0.6;
}

input,button{
    display: block;
    padding: 20px;
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
}

input{
    margin-bottom: 20px;
    width: 400px;
}

button:hover{
    cursor: pointer;
}

button{
    color: #470651;
    background-color: #7c4285;
    border: none;
    width: 400px;
}

#resposta{
    margin-top: 30px;
    transition: opacity 1s;
    color: #fff;
}


#resposta div{
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
    margin-bottom: 10px;
}